<!DOCTYPE html>
<html>
<head>
  <title>Smichki</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <style>
      #view-source {
          position: fixed;
          display: block;
          right: 0;
          bottom: 0;
          margin-right: 40px;
          margin-bottom: 40px;
          z-index: 900;
      }
  </style>

</head>
<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

  <div class="android-header mdl-layout__header mdl-layout__header--waterfall">
    <div class="mdl-layout__header-row">
          <span class="android-title mdl-layout-title mdl-typography--font-light">
            <%= link_to 'Lazanie Smichki | Лазарные Смычки', welcome_index_path, :style => "color:white;text-decoration:none;" %>
          </span>
      <!-- Add spacer, to align navigation to the right in desktop -->
      <div class="android-header-spacer mdl-layout-spacer"></div>
      <div class="android-search-box mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label mdl-textfield--align-right mdl-textfield--full-width">
        <label class="mdl-button mdl-js-button mdl-button--icon" for="search-field">
          <i class="material-icons">search</i>
        </label>
        <div class="mdl-textfield__expandable-holder">
          <input class="mdl-textfield__input" type="text" id="search-field">
        </div>
      </div>
      <!-- Navigation -->
      <div class="android-navigation-container">
        <nav class="android-navigation mdl-navigation">
          <%= link_to 'Home', welcome_index_path, :class => 'mdl-navigation__link mdl-typography--text-uppercase' %>
          <%= link_to 'Photos', photos_index_path, :class => 'mdl-navigation__link mdl-typography--text-uppercase'  %>
          <%= link_to 'Videos', videos_index_path, :class => 'mdl-navigation__link mdl-typography--text-uppercase'  %>
          <%= link_to 'Bio', bio_index_path, :class => 'mdl-navigation__link mdl-typography--text-uppercase'  %>

        </nav>
      </div>
    </div>
  </div>


  <div class="android-customized-section">
    <div class="android-more-section">
      <%= yield %>
    </div>
  </div>

</div>









</body>
</html>
